extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
  +alert-error(5000)
  h1.mb-4 Chỉnh sửa sản phẩm
  
  
  form(
    action=`${prefixAdmin}/products/edit/${product._id}?_method=PATCH`
    method="POST"
    id="form-edit-product"
    enctype="multipart/form-data"
  )
    div.form-group
      label(for="title") Tiêu đề
      input#title.form-control(
        type="text"
        name="title"
        required
        value=product.title
        
      )


    div(class="form-group")
      label(for="product_category_id") Danh mục 
      select(
          name="product_category_id"   
          id="product_category_id"
          class="form-control"
      )
        option(value="") Chọn danh mục 
        if(category && category.length > 0)
            +select-tree(category,1,product.product_category_id)
        else
            option(value="") Không có danh mục nào    

    div.form-group
      label(for="desc") Mô tả
      textarea#desc.form-control(
        name="desc"
        rows="5"
        value=product.desc
        
      )

    div.form-group
      label(for="price") Giá
      input#price.form-control(
        type="number"
        name="price"
        min="0"
        step="0.01"
        value=product.price
        
      )

    div.form-group
      label(for="discount") Giảm giá
      input#discount.form-control(
        type="number"
        name="discountPercentage"
        min="0"
        step="0.01"
        value=product.discountPercentage
      )

    div.form-group
      label(for="stock") Số lượng
      input#stock.form-control(
        type="number"
        name="stock"
        min="0"
        value=product.stock
      )

    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Hình ảnh
      input#thumbnail.form-control-file(
        type="file"
        name="thumbnail"
        accept="image/*"
        upload-image-input
        
      )
      img(
        src=product.thumbnail
        upload-image-preview
      )
      button(
        type="button"
        delete-image
      ) Xóa ảnh

    div.form-group
      label(for="position") Vị trí
      input#position.form-control(
        type="number"
        name="position"
        value=product.position
        placeholder="tự động tăng dần"
      )

    div.form-group
      label Trạng thái
      div.form-check.form-check-inline
        input#statusActive.form-check-input(
          type="radio"
          name="status"
          value="active"
          
        )
        label.form-check-label(for="statusActive") Hoạt động

      div.form-check.form-check-inline
        input#statusInactive.form-check-input(
          type="radio"
          name="status"
          value="inactive"
          checked=product.status === "inactive"
        )
        label.form-check-label(for="statusInactive") Không hoạt động

    div.form-group
      button#btn-create-product.btn.btn-primary(type="submit") Cập nhập

  script(src="/admin/js/products")
